body{
    font-family: 'Audiowide', cursive;
    background: #f0e0b3;
}
.welcome-img{
    background-image: url(../images/brain3.jpg);
    height: 400px;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center; 
}
.full-width{
    max-width: 100vw;
    left:50%;
    right:50%;
    position : relative;
    margin-left:-50vw;
    margin-right:-50vw;
}
.header-txt{
    padding-top: 15px;
}
h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#points{
    background: #f0e0b3;
}